# OKX
OKX_API_KEY=""
OKX_API_SECRET=""
OKX_API_PASSPHRASE=""
OKX_INST_ID="BTC-USDT-SWAP"
OKX_INST_TYPE="SWAP"
OKX_PROXY_URL=""

# Binance USD-M
BINANCE_API_KEY=""
BINANCE_API_SECRET=""
BINANCE_SYMBOL="BTC/USDT"
BINANCE_PROXY_URL=""

# Hyperliquid
HYPERLIQUID_USER=""
HYPERLIQUID_PROXY_URL=""
