# OKX
OKX_API_KEY=""
OKX_API_SECRET=""
OKX_API_PASSPHRASE=""
OKX_PROXY_URL=""

# Binance USD-M
BINANCE_API_KEY=""
BINANCE_API_SECRET=""
BINANCE_PROXY_URL=""

# Hyperliquid
HYPERLIQUID_USER=""
HYPERLIQUID_PROXY_URL=""
